html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "yekanbakhregular";
  src: url("../fonts/iranyekanwebregular.woff") format("woff");
}
@font-face {
  font-family: "yekanbakhbold";
  src: url("../fonts/YekanBakhBold.woff") format("woff");
}
body {
  font-family: "yekanbakhregular", Arial, Helvetica, sans-serif;
  background: #f5f5f5;
}

.header__header {
  width: 100%;
  padding: 134px 126px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 800px) {
  .header__header {
    flex-direction: column;
    justify-content: center;
    padding: 29px;
  }
}
@media screen and (max-width: 800px) {
  .header__header .button {
    display: none;
  }
}

.header__header__h1 {
  color: #8a6ef8;
  font-size: 48px;
  margin-bottom: 16px;
}
@media screen and (max-width: 800px) {
  .header__header__h1 {
    font-size: 28px;
    font-weight: 800;
    text-align: center;
  }
}

.header__header__p {
  font-size: 28px;
  margin-bottom: 42px;
}
@media screen and (max-width: 1200px) {
  .header__header__p {
    font-size: 15px;
  }
}

.button {
  background-color: #8a6ef8;
  color: #ffffff;
  border: none;
  font-family: "yekanbakhregular";
  font-size: 16px;
  padding: 12.5px 44.5px;
  border-radius: 10px;
}
@media screen and (max-width: 1200px) {
  .button {
    font-size: 14px;
  }
}

.gridcontainer {
  width: 100%;
  display: grid;
  padding-left: 20px;
  grid-template-areas: " main aside";
  grid-template-columns: 2.66fr 1fr;
  align-items: start;
  gap: 30px;
}
@media screen and (max-width: 800px) {
  .gridcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 29px;
  }
}

.aside {
  width: 100%;
  height: auto;
  padding: 20px;
  margin-left: 110px;
  border-radius: 20px;
  grid-area: aside;
  background: #ffffff;
}
@media screen and (max-width: 800px) {
  .aside {
    padding: 20px;
    margin: 0 auto;
  }
}
.aside .button {
  width: 100%;
}

.aside__header {
  margin-bottom: 52px;
  text-align: center;
}

.aside__mainprice {
  display: flex;
  justify-content: space-between;
  margin-bottom: 27px;
  color: gray;
}

.aside__currentprice {
  display: flex;
  justify-content: space-between;
  margin-bottom: 27px;
}

.main {
  grid-area: main;
  margin: 0 auto;
  max-width: 1100px;
  padding-right: 107px;
}
@media screen and (max-width: 1200px) {
  .main {
    padding: 29px;
    width: 100vw;
  }
}

.menulist__items {
  list-style: none;
  transition: 0.5s all ease;
}
.menulist__items a {
  text-decoration: none;
  color: #000000;
}

.menulist {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border: 1px dashed #8a6ef8;
  border-radius: 21px;
  padding: 12px 0px;
  margin-bottom: 42px;
  font-size: 21px;
}
@media screen and (max-width: 800px) {
  .menulist {
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 16px;
  }
}

.jumps {
  transition: all 0.5s ease;
}

.container {
  color: #282828;
}
@media screen and (max-width: 800px) {
  .container {
    margin: 31px 12px;
  }
}

.header {
  font-size: 28px;
  text-align: center;
  margin-bottom: 44px;
}
@media screen and (max-width: 800px) {
  .header {
    font-size: 20px;
  }
}

.header--right {
  text-align: right;
  margin-bottom: 12px;
}

.header__description {
  font-size: 20px;
  text-align: justify;
  line-height: 2.07;
}
@media screen and (max-width: 800px) {
  .header__description {
    font-size: 15px;
  }
}
.header__description:last-of-type {
  margin-bottom: 84px;
}

.header__span {
  color: #8a6ef8;
}

.cards-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  justify-content: flex-start;
  margin-bottom: 83px;
  align-items: stretch;
}
@media screen and (max-width: 800px) {
  .cards-wrapper {
    margin: 0;
    gap: 12px;
    margin-bottom: 40px;
  }
}

.card {
  background: #ffffff;
  border-radius: 16px;
  filter: drop-shadow(0px 0px 22px rgba(228, 164, 255, 0.16));
  flex: 1 1 clamp(200px, 25%, 215px);
  padding: 9px;
}
@media screen and (max-width: 400px) {
  .card {
    padding: 8.5px 5.91px 19px 7px;
    flex: 0 0 clamp(160px, 45%, 180px);
  }
}

.spacer {
  flex: 1 1 clamp(200px, 25%, 215px);
  visibility: hidden;
}

.card__icon {
  width: 50px;
  height: 50px;
  margin-bottom: 0.7em;
}
@media screen and (max-width: 400px) {
  .card__icon {
    width: 33px;
    height: 33px;
    margin-bottom: 8.9px;
  }
}

.card__header {
  font-family: "yekanbakhbold", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 900;
  margin-bottom: 0.7em;
}
@media screen and (max-width: 400px) {
  .card__header {
    font-size: 12px;
    margin-bottom: 8.4px;
  }
}

.card__text {
  font-size: 13px;
  text-align: justify;
  margin-bottom: 1em;
}
@media screen and (max-width: 400px) {
  .card__text {
    font-size: 10px;
    font-weight: 200;
    margin-bottom: 0.3em;
  }
}

.learningflows {
  width: 100%;
  padding: 30px;
  height: auto;
}

.learningflow {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  height: 700px;
}

.learningflow__course {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 205px;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .learningflow__course {
    flex-direction: row-reverse;
    text-align: left;
  }
}

.learningflow__img {
  width: 60px;
  height: 60px;
}

.learningflow__description {
  font-size: 12px;
}
@media screen and (max-width: 800px) {
  .learningflow__description {
    margin-left: 10px;
  }
}

.learningflow__header {
  font-size: 16px;
}

.js__header {
  color: rgb(206, 169, 36);
}

.git__header {
  color: orangered;
}

.html__header {
  color: rgb(255, 102, 0);
}

.react__header {
  color: #1576a9;
}

.next__header {
  color: #000000;
}

.html {
  left: 78%;
  top: 65px;
}
@media screen and (max-width: 800px) {
  .html {
    top: 0px;
    left: 70px;
  }
}

.js {
  left: 60%;
}
@media screen and (max-width: 800px) {
  .js {
    top: 150px;
    left: 0;
  }
}

.git {
  left: 40%;
  top: 65px;
}
@media screen and (max-width: 800px) {
  .git {
    top: 300px;
    left: 70px;
  }
}

.react {
  left: 20%;
}
@media screen and (max-width: 800px) {
  .react {
    top: 450px;
    left: 0px;
  }
}

.next {
  left: 0px;
  top: 65px;
}
@media screen and (max-width: 800px) {
  .next {
    top: 600px;
    left: 70px;
  }
}

.accordion-wrapper {
  width: 100%;
  margin: 70px 0px;
  background: #8a6ef8;
  border-radius: 25px;
  padding: 33.51px 50px;
  font-family: "Vazirmatn", Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 800px) {
  .accordion-wrapper {
    border-radius: 0;
    margin: 0;
    padding: 22px;
    font-size: 20px;
    margin-bottom: 40px;
  }
}

.accordion-wrapper__header {
  color: #ffffff;
  display: flex;
  align-items: center;
  margin-bottom: 17px;
}
.accordion-wrapper__header h1 {
  margin-right: 13.8px;
  font-size: 28px;
  font-weight: semi-bold;
}
@media screen and (max-width: 800px) {
  .accordion-wrapper__header h1 {
    font-size: 24px;
  }
}

.accordion-svg {
  width: 24px;
  height: 24px;
}
@media screen and (max-width: 800px) {
  .accordion-svg {
    width: 16px;
    height: 16px;
  }
}

.accordion-svg--active {
  transform: rotate(180deg);
}

.accordion {
  transition: all 0.5s ease;
  background: #ffffff;
  border-radius: 25px;
  margin-bottom: 22px;
  padding: 16.5px 20px;
}
@media screen and (max-width: 800px) {
  .accordion {
    margin-bottom: 20px;
  }
}

.accordion__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  transition: all 0.5s ease;
}
@media screen and (max-width: 800px) {
  .accordion__header {
    font-size: 18px;
  }
}
.accordion__header:hover {
  color: #8a6ef8;
}

.accordion__topics {
  margin-top: 21px;
  font-size: 16px;
  list-style-position: inside;
  display: none;
}
@media screen and (max-width: 800px) {
  .accordion__topics {
    font-size: 14;
  }
}
.accordion__topics li::marker {
  font-size: 12px;
}

.active,
.hover {
  color: #8a6ef8;
}

.accordion--collapse {
  display: block;
}

.instructor {
  width: 100%;
  margin-bottom: 83px;
}

.instructor .header {
  text-align: right;
}

.instructor__img {
  width: 375px;
}
@media screen and (max-width: 800px) {
  .instructor__img {
    width: 100%;
    margin-bottom: 25px;
  }
}

.instructor--flex {
  display: flex;
}
@media screen and (max-width: 800px) {
  .instructor--flex {
    flex-direction: column;
  }
}

.instructor__header {
  font-size: 24px;
  margin-bottom: 8px;
}
@media screen and (max-width: 800px) {
  .instructor__header {
    font-size: 20px;
  }
}

.instructor__title {
  font-size: 20px;
  margin-bottom: 20px;
  color: gray;
}
@media screen and (max-width: 800px) {
  .instructor__title {
    font-size: 16px;
  }
}

.instructor__description {
  line-height: 45px;
  text-align: justify;
}

.mentors__list {
  justify-content: space-between;
  align-items: center;
  list-style: none;
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-bottom: 96px;
}
@media screen and (max-width: 800px) {
  .mentors__list {
    flex-direction: column;
    margin-bottom: 0px;
  }
}

.mentor__img {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  margin: 0 32px;
}

.mentor__name {
  font-size: 16px;
}
@media screen and (max-width: 800px) {
  .mentor__name {
    font-size: 14px;
  }
}

.mentor__role {
  font-weight: 400;
  font-size: 14px;
}
@media screen and (max-width: 800px) {
  .mentor__role {
    margin-bottom: 25px;
    font-size: 12px;
  }
}

@media screen and (max-width: 800px) {
  .arrow {
    transform: rotate(-90deg);
    margin-bottom: 25px;
  }
}

.mentor--midlle .mentor__img {
  width: 180px;
  height: 180px;
}
.mentor--midlle .mentor__name {
  font-size: 20px;
}
.mentor--midlle .mentor__role {
  font-size: 16px;
}

.commonquestions {
  width: 100%;
  padding: 0 84px;
}
@media screen and (max-width: 800px) {
  .commonquestions {
    padding: 0 29px;
  }
}

.commonquestions__header {
  text-align: center;
}
@media screen and (max-width: 800px) {
  .commonquestions__header {
    font-size: 20px;
  }
}

.question__header div {
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .question__header {
    font-size: 14px;
  }
}

@media screen and (max-width: 800px) {
  .question__answer {
    font-size: 11px;
  }
}

.commonquestions__body {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 74px;
}
@media screen and (max-width: 800px) {
  .commonquestions__body {
    flex-direction: column;
  }
}

.commonquestions__img-right {
  border-radius: 50%;
  flex-basis: 9%;
  width: 150px;
  align-self: flex-end;
}
@media screen and (max-width: 800px) {
  .commonquestions__img-right {
    display: none;
  }
}

.commonquestions__img-left {
  flex-basis: 9%;
  border-radius: 50%;
  width: 150px;
  align-self: flex-start;
}
@media screen and (max-width: 800px) {
  .commonquestions__img-left {
    width: 80px;
  }
}

.qa {
  flex-basis: 82%;
}

.question {
  border: 1px solid rgb(180, 175, 175);
  border-radius: 14px;
  margin-bottom: 16px;
  padding: 21px 26px 22px 28px;
}
.question p {
  text-align: justify;
}

/*# sourceMappingURL=style.css.map */
